.facility-info
 %h2= @facility.title
.application-new
 = form_for @facility.storage_applications.new, url: facility_storage_applications_path(@facility) do |i|
  - i.object.childrens.each do |m| 
   = render "layouts/storage_attr_partial", model_name: m, i: i
  = i.submit 'Создать заявку'
.inventarization-new
 = form_for @facility.storage_inventarizations.new, url: facility_inventarization_reports_path(@facility) do |i|
  - i.object.childrens.each do |m| 
   = render "layouts/storage_attr_partial", model_name: m, i: i
  = i.submit "Провести инвентаризацию"
%hr
.applications-list
.transactions-last
 / each in ul in aka footer
 %ul
 %ul
