.nested-fields
 = f.text_field :title, value: 'Название'
 = f.text_field :pack_form, value: 'Форма упаковки'
 = f.text_field :amount, value: 'Количество'
 = f.text_field :ph_rate, value: 'Ph уровень'
 = f.text_field :purpose, value: 'Назначение'
 = f.text_field :additional_info, value: 'Дополнительная информация'