.addings{class: "#{model_name}"}
 = link_to_add_association "Добивить #{t model_name}", i, model_name.to_sym, partial: "layouts/#{model_name}_fields"
 = i.fields_for model_name do |s|
  = render "layouts/#{model_name}_fields", f: s
 