<!DOCTYPE html>
<html>
  <head>
    <title>StorehouseApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#console%>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <nav>
        <ul>
          <li>
            <%= link_to "Объекты", facilities_path %>
          </li>
          <% if current_user.mighty? %>
            <li>
              <%= link_to "Заявки", storehouse_applications_path %>
            </li>
          <%end%>
          <li>
            <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: 'exit' %>
          </li>
        </ul>
      </nav>
      <hr>
    <%end%>
    <%= yield %>
  </body>
</html>
